@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");
#section-nav-container {
  position: fixed;
  top: 0;
  height: 12vh;
  width: 100%;
  z-index: 10;
  background-color: transparent;
  padding: 1.2rem 8rem;
}

#isis-nav {
  height: 100%;
  width: 100%;
  background-color: #d9d9d9 !important;
  border-radius: 25px;
}
#title-nav {
  position: relative;
}

#title-nav::after {
  content: "";
  position: absolute;
  right: 0;
  top: 5%;
  height: 50%;
  width: 3px;
  background-color: #0b0f12;
}
#title-nav > span {
  font-family: "barriecito";
  font-size: 40px;
  letter-spacing: 3px;
  font-weight: bold;
  color: #0b0f12;
}
.div-nav {
  margin-top: auto;
  margin-bottom: auto;
}
.div-nav > a {
  text-decoration: none !important;
  color: #0b0f12;
  font-weight: bold;
  font-size: 22px;
  font-family: "Rethink Sans";
}
.nav-link-custom {
  text-decoration: none !important;
  color: #0b0f12;
  font-weight: bold;
  font-size: 22px;
  font-family: "Rethink Sans";
  padding: 10px 0;
  display: block;
}

/*HERO*/

#hero {
  width: 100%;
  height: 100vh;
  padding-top: 12vh;
  background-image: url(../img/bg-hero.png);
  color: #ffffff;
  font-family: "Rethink Sans";
}
#hero-info-container {
  margin-bottom: auto;
  margin-top: auto;
}
.btn-green-style {
  background-color: #40cd76;
  color: #ffffff;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 25px;
  font-size: 20px;
}
#hero-title {
  font-weight: bold;
  font-size: 5rem;
}
.info-hero > p {
  font-size: 1.5rem;
  margin-bottom: 0;
  font-family: "Rethink Sans";
  font-style: italic;
}
.img-hero {
  width: auto;
  height: 90%;
  bottom: 0;
  position: absolute;
}
.btn-explorar {
  background: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  font-size: 40px;
  letter-spacing: 1px;
  font-family: "barriecito";
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 2rem;
}

/* ABOUT ME*/

#about-me {
  width: 100%;
  height: 100vh;
  font-family: "Rethink Sans";
  background-image: url(../img/bg-about-me.jpg);
}
#card-img-about-me{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-about-me {
  width: 100%;
  height: auto;
  object-fit: cover;
}
#about-me-info {
    color: #ffffff;
    text-align: end;
}
#about-me-info>h1 {
  font-weight: bold;
  font-size: 5rem;
}
#about-me-info>p {
  font-size: 1.5rem;
}

/*SERVICES*/
#services{
    width: 100%;
    height: 100%;
    font-family: "Rethink Sans";
    background-image: url("../img/bg-services.png");
}
.titulo-services{
    padding-top: 10rem;
    color: #0b0f12;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 4rem;
}

.card-service{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
    background-color: #FFFFFF;
    margin-bottom: 2rem;
    border-radius: 25px;
    box-shadow: 7px 6px 9px 4px #0000001f;;
}
.card-service>h2{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #4CA657;
}
.card-service>p{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.img-service{
    height: auto;
    width: 80px;
    margin-bottom: 15px;
}

#skills-band{
    width: 100%;
    height: 100%;
    background-color: #EFEFEF;
    padding: 2rem;
}
.skill-img{
    height: 80px;
    width: 80px;
}

/*PORTAFOLIO*/

#portafolio{
    width: 100%;
    height: 100%;
    font-family: "Rethink Sans";
    background-image: url("../img/bg-portafolio.png");
}
#portafolio>h1{
    font-family: "Rethink Sans";
    text-align: center;
    font-size: 4rem;
    margin-top: 5rem;
    margin-bottom: 4rem;
}


/*FOOTER*/
#footer-portafolio{
    width: 100%;
    height: 100%;
    background-color: #0b0f12!important;
    color: #ffffff;
    font-family: "Rethink Sans";
    padding: 2rem;
    padding-bottom: 2rem;
}
.titulo-footer{
    color: #4CA657;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.container-text-input{
    width: 100%;
    height: 5vh;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.input-1{
    border-radius: 15px;
    width: 60%;
    height: 100%;
}
.input-2{
    border-radius: 15px;
    width: 35%;
    height: 100%;
}
.input-3{
    border-radius: 15px;
    width: 100%;
    height: 10vh;
}
.info-footer{
    width: 100%;
    margin-bottom: 15px;
    padding-left: 2rem;
}
.contact-info{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    flex-direction: column;
}
.info-footer>img{
    height: 30px;
    width: 30px;
    margin-right: 1rem;
}
.info-footer>span{
    font-size: 1.2rem;
    font-weight: bold;
}
.div-icon-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
.div-icon-container>a>img{
    height: 45px;
    width: 45px;
}

@media (max-width: 780px) {
  #section-nav-container {
    padding: 1.2rem 1rem;
  }
  #title-nav > span {
    font-family: "barriecito";
    font-size: 28px;
    letter-spacing: 3px;
    font-weight: bold;
    color: #0b0f12;
  }
  .div-nav > a {
    text-decoration: none !important;
    color: #0b0f12;
    font-weight: bold;
    font-size: 18px;
    font-family: "Rethink Sans";
  }

  /*HERO*/
  #hero-info-container {
    height: 55%;
    margin-top: 1rem;
  }
  #hero-info-container > .btn-green-style {
    margin-left: auto;
    margin-right: auto;
  }

  #hero-title {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .info-hero {
    padding-left: 1rem;
  }
  .img-hero {
    height: auto;
    width: 90%;
  }
  #btn-explorar-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-explorar {
    font-size: 35px;
    letter-spacing: 1px;
    margin-top: 2rem;
  }


    /* ABOUT ME*/

    .about-me{
        height: 100%;
    }
    .img-about-me {
        padding-top: 2rem;
        width: 90%;
        height: auto;
        object-fit: cover;
      }
      #about-me-info {
          color: #ffffff;
          text-align: center;
          padding: 10px;
      }
      #about-me-info>h1 {
        font-weight: bold;
        font-size: 4rem;
        margin-bottom: 1rem;
      }


}
